@charset "utf-8";

        body {
            background-color: bisque;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }

        h1{
            color:brown;
            background-color:blanchedalmond;
        }

        h2{
            color:rgb(213, 88, 88)
        }

        p{
            text-align:justify;
        }
